.login{
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.login-box{
	width: 3rem;
}
.login h1{
	text-align: center;
	font-size: .32rem;
	font-weight: normal;
	margin-bottom: .77rem;
}
.login .item{
	display: flex;
	justify-content: space-between;
}
.login .item .input-row{
	height: .35rem;
	line-height: .35rem;
}
.login .item .left{
	width: 1.63rem;
}

.login .item .right{
	width: 1.09rem;
}
.login p{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: .12rem;
	color: #333;
	margin: 0;
}